table{
    border-collapse: collapse;
    width: 80%;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
th, td{
    text-align: center;
}
.form-control{
    width: auto;
    margin-left: 0px;
    
}
.row{
  display: grid;
  grid-template-columns:120px 120px 120px;
  grid-gap: 45px 50em;
  box-sizing: inherit;
  white-space: nowrap;
}

